<div class="finger-container">
  <img src="assets/images/ET-finger.png" style='width:100%;'>
</div>
<div class="title-container">
  <h3 class="title display-4">Feliz Cumpleaños!</h3>
</div>
<!-- Page Content -->
<section>
  <div class="text-container mt-2">
    <div class="row">
      <p>Este hermoso vínculo no podrá ser nunca descrito, aunque Stephen Spielberg se acercó mucho:</p>
      <ul>
        <li>No hay ejército que pueda separarnos.</li>
        <li>Contigo, la gravedad desaparece.</li>
        <li>Alguno de los dos no es de este planeta. (sujeto a discusión)</li>
        <li>El poder que sana cualquier herida.</li>
        <li>La vívida conexión ultra-sensorial entre nosotros.</li>
        <li>Aun no se quién, pero uno de nosotros tiene una compulsión ezquisoide por la tecnología purista.</li>
      </ul>
      <p>Pero lo mejor de todo es vivir sabiendo que, de forma predeterminada, hay alguien más en el universo que sabe
        a lo que me refiero.</p>
      <p>Con mucho cariño te mando un pellizco en la oreja y muchos besos y abrazos.</p>
    </div>

      <p><strong>Se buena.</strong></p>
      <img src="assets/images/signature-120x80.png">

  </div>
</section>
<div class="image-container">
  <img class src="assets/images/fer10.png" width="250">
</div>
